@import "~bootstrap/scss/bootstrap";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  #root .App {
    min-height: 100vh;
  }
  body{
    &.modal-open {
      padding-right: 0px !important;
  }
  }

