.layout-container{
    min-height: 100vh;
}
.layout-header{
    background:linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);
    padding: 0rem 2rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    position: relative;


    .navbar-brand{
      color: #ffffff;
      img{
        margin-right: 1rem;
      }
    }
}


.layout-body{
    position: absolute;
    background-color: #ffffff;
    top:7.4rem;
    border-radius: 6rem 6rem 0rem 0rem;
    min-height: 100vh;
    padding: 3rem;

}
