@import "~bootstrap/scss/bootstrap";


.navbar-background.navbar{
    background:linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);
    padding: 0rem 1.8rem;
    padding-top: 2.5rem;
    padding-bottom: 8.5rem;

    .navbar-brand{
      font-size: 3rem;
      color: #ffffff;
      img {
        margin-right: 1rem;
      }
    }
    .navbar-nav>.nav-link{
      color: #ffffff;
      font-size: 1.2rem;
      img{
        width: 2rem;
      }
    }
    @include media-breakpoint-up(md){
      padding-right: 6rem;
      padding-left: 5rem;
      .navbar-brand{
        font-size: 3.5rem;
      }
      .navbar-nav>.nav-link{
        font-size: 1.8rem;
      }
    }
}

.layout-body{
    position: absolute;
    background-color: #ffffff;
    top:11rem;
    border-radius: 6rem 6rem 0rem 0rem;
    height: calc(100vh - 11rem);
}
@include media-breakpoint-up(lg){
  .layout-body{
    padding: 5rem;
  }
}
