.form-container{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  h2{
    margin-bottom: 4rem;
  }
  input {
    min-width: 28rem;
  }
  button{
    width: 100%;
  }
}
