@import "../../App.scss";

.resume-col{
  display: flex;
  justify-content: center;
  max-height: 20rem;
  margin-top: 6.3rem;

}
@include media-breakpoint-down(lg){
  .resume-col{
    margin-bottom: 15rem;
  }
 .home-container{
   flex-wrap: wrap-reverse;
 }
 @include media-breakpoint-down(md){
   .tHide{
     display: none;
   }
 }
}

