@import "~bootstrap/scss/bootstrap";

.transactions-component-container{
  display: flex;
  flex-direction: column;
  ;
}

@include media-breakpoint-up(md){
  .transactions-component-container{
    flex-direction: row-reverse;
    padding-top: 5rem
  }
}
@include media-breakpoint-down(sm){
  .tHide{
    display: none;
  }
}

