.filter-title{
  margin-bottom: 2rem;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #B9B9B9;
}
.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:flex-start;
  max-height: 13rem;


  button{
   all: unset;
   background: #fafafa;
   box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 0.4rem 0.8rem;
   min-width: 7rem;
   .filter-text{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    span{
      margin-left: 1.3rem;
    }
   }



   margin-bottom: 0.9rem;
   &.selected{
    background: #7B61FF;
    color: white;
   }
  }
}
