.modal-content{
  padding: 2rem;
  .modal-header{
    border-bottom: none;
  }
  font-family: 'Rubik';
  font-style: normal;
  h2{
    font-weight: 700;
    font-size: 2rem;
    line-height: 43px;
    color: #000000;
  }
  .btn-close{
    font-size: 1.2rem;
  }
  .form-label{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 28px;
    color: #484848;
    margin-bottom: 0.8rem;
  }
  input{
    height: 4rem;
    margin-bottom: 2.6rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 21px;
    color: #000000;
    text-indent: 1rem;
  }
  .type-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    input[type='radio']{
      opacity: 0;
      position: fixed;
      width: 0;
    }
    label{
      display: flex;
      width: 100%;
      align-self: center;
      justify-content: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      align-items: center;
      text-align: center;
      vertical-align: middle;
      color: #FFFFFF;
      width: 24rem;
      height: 6rem;
      background: #B9B9B9;
      margin: 2rem 0rem 3.8rem 0;
      &.credit{
        border-radius: 10px 0px 0px 10px;
      }
      &.debit{
        border-radius: 0px 10px 10px 0px;
      }
    }

    input[type="radio"]:checked + label {
      &.debit{
        background: linear-gradient(91.66deg, #FA8C10 0%, #FF576B 90.32%);
      }
      &.credit{
        background: linear-gradient(91.26deg, #05EDE3 0%, #3A9FF1 97.77%);
      }
  }
}
.btn-group{
  display: flex;

  .btn{
    background: #645FFB;
    border-radius: 5px;
    height: 4rem;

    margin: 0px auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    }
}


}







